<div id="banner">
  <div class="banners owl-carousel">
     <div class="banner" style="background: url({% asset_path img/banners/tecnologia_pessoas.jpg %});">
      <div class="overlay">
        <h2 class="headline">Olá, somos a PRTE</h2>
        <p class="description">People-driven Technology Startup especializada em projetos de tecnologia e inovação, de Pessoas para Pessoas.</p>
      </div>
    </div> 


    <div class="banner" style="background: url({% asset_path img/banners/campus-party.jpeg %});">
      <div class="overlay">
        <h2 class="headline">PRTE na Campus Party 2018</h2>
        <p class="description">Durante a Campus Party 2018 estivemos presente em grandes atividades e iniciativas incríveis. Uma delas foi o #OpenChallenge, um desafio criado pela Shawee e PRTE - Tecnologia e Soluções, para melhorar a experiência do Campuseiro com a plataforma campuse.ro. 
          </p>
      </div>
    </div>

    
  </div>
</div>