<div id="header">
  <div class="container">
    <div class="header-container">
      <div class="logo">
        <h1>
          <a href="{{ site.url }}">
            <img src="{% asset_path img/prte-logo.png %}" alt="{{ site.name }}" />
          </a>
        </h1>
      </div>

      <nav id="menu">
        <ul>
          <li><a href="{{ site.url }}/#home" title="Ir para Home">Home</a></li>
          <li><a href="{{ site.url }}/#about" title="Ir para Sobre nós">Quem Somos?</a></li>
          <li><a href="{{ site.url }}/#services" title="Ir para Serviços">O Que Fazemos?</a></li>
          <li><a href="{{ site.url }}/#portfolio" title="Ir para Serviços">Portfolio</a></li>
          <li><a href="{{ site.url }}/posts" title="Ir para Posts">Blog</a></li>
          <li><a href="{{ site.url }}/#contact" title="Ir para Contato">Fale Conosco</a></li>
        </ul>
      </nav>
    </div>
  </div>  
</div>