<section class="page" id="about">
  <div class="container">
    <header>
      <h2 class="page-title">Quem Somos?</h2>
      <p class="page-subtitle">Conheça um pouco do trabalho que desenvolvemos</p>
    </header>

    <div class="content">
      <div class="row ">
        <div class="col-lg-6">
        <img src="{% asset_path img/work.jpg %}">
        </div>

        <div class="col-lg-6">
            <h3 style="font-size: 30px;">Uma Startup Inovadora especializada em projetos de tecnologia e inovação, de Pessoas para Pessoas.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus erat a vehicula tempus. Vestibulum sit
        amet lectus fermentum, pellentesque justo vel, mattis nisl. Donec ut rutrum odio, a ornare nisi. Aenean venenatis
        viverra sem. Aenean condimentum augue nibh. Nulla consequat et diam at sodales. In luctus mollis dapibus. Suspendisse
        odio lorem, placerat vel risus volutpat, auctor laoreet odio. Curabitur posuere, magna sodales laoreet pretium, orci
        odio porta quam, nec bibendum ipsum velit non lacus. Ut in scelerisque sem. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Phasellus nec tellus in turpis maximus dignissim vitae id leo. Vivamus libero sapien, vulputate
        a tincidunt nec, placerat et arcu.</p>
        </div>
      </div>

      <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <h3>Missão</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <h3>Visão</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <h3>Valores</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
    </div>
      
    </div>
  </div>
</section>