<section class="page" id="services">
  <div class="container">
    <header>
      <h2 class="page-title">O Que Fazemos?</h2>
      <p class="page-subtitle">Tarefas que realizamos com o maior prazer</p>
    </header>

    <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{% asset_path img/services/services-1.png %}" alt="">
                        </div>
                        <h3>Serviço 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{% asset_path img/services/services-2.png %}" alt="">
                        </div>
                        <h3>Serviço 2</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{% asset_path img/services/services-3.png %}" alt="">
                        </div>
                        <h3>Serviço 3</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{% asset_path img/services/services-4.png %}" alt="">
                        </div>
                        <h3>Serviço 4</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{% asset_path img/services/services-5.png %}" alt="">
                        </div>
                        <h3>Serviço 5</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="box">
                        <div class="box-icon">
                            <img src="{% asset_path img/services/services-6.png %}" alt="">
                        </div>
                        <h3>Serviço 6</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque quas nulla est adipisci,</p>
                    </div>
                </div>
            </div>
  </div>
</section>